<a href="/blog/{{id}}" class="card hover-effect">
  <div class="card-top">
    <h2>{{title}}</h2>
    <p class="author-card">{{user.username}}</p>
  </div>
  <div class="card-bottom">
    <p class="card-content">{{content}}</p>
  </div>
  <p class="card-date">{{format_date updatedAt}}</p>
</a>
